<div class="newAdContainer">
    <form [formGroup]="form">
        <div class="addYourAddLogo">
            <div class="addFront">
                <h1>Add Your Ad</h1>
            </div>
            <div class="addBack"></div>
        </div>
        <div class="select">
            <div class="selectList model">
                <label for="model">Model</label>
                <select name="model" id="model">
                    <option value="">Seat</option>
                    <option value="">Skoda</option>
                    <option value="">Audi</option>
                    <option value="">Volkswagen</option>
                </select>
            </div>
            <div class="selectList semiModel">
                <label for="subModel">Sub Model</label>
                <select name="subModel" id="subModel">
                    <option value="">Ibiza</option>
                    <option value="">Leon</option>
                    <option value="">Cordoba</option>
                    <option value="">Ateka</option>
                </select>
            </div>
            <div class="selectList fromYear">
                <label for="fromYeat">From</label>
                <select name="fromYeat" id="fromYeat">
                    <option value="">2010</option>
                    <option value="">2011</option>
                    <option value="">2012</option>
                    <option value="">2013</option>
                </select>
            </div>
            <div class="selectList toYear">
                <label for="toYear">To</label>
                <select name="toYear" id="toYear">
                    <option value="">2014</option>
                    <option value="">2015</option>
                    <option value="">2016</option>
                    <option value="">2017</option>
                </select>
            </div>
        </div>
        <input id="price" name="price" type="text" placeholder="price">
        <label for=""></label>
        <div class="phone-number">
            <input type="text" placeholder="Phone-number">
        </div>
        <div class="image">
            <label for="image">image</label>
            <input type="file" name="image" id="image">
            <button>Add Ad</button>
        </div>
    </form>
    <div class="background">
        <img src="../../../assets/ad.svg" alt="">
    </div>
</div>